@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Germania+One|Patua+One|Rosarivo');
body {
  height: 100%;
  background-color: #b9b7ab;
  background-image: url('./abstract-antique-backdrop-163999.jpg');
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.content .block {
  display: flex;
  text-align: center;
  flex-grow: 1;
}

.block.top {
  align-items: flex-end;
  justify-content: center;
}

h1 {
  font-family: 'Patua One', serif;
  margin: 0;
  color: #f5e8e8;
  font-size: 40px;
}

.box-outer {
  box-shadow: 2px 2px 50px 0px rgba(0, 0, 0, 0.8);
  background-color: #22263E;
}

.box-inner {
  box-shadow: inset 0px 0px 10px 0px rgb(82, 68, 64);
  padding: 20px 80px;
}

.block.bottom {
  flex-grow: 2;
}